---
import { Header } from '../components/Header';
import { Footer } from '../components/Footer';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		imageSource?: string;
	};
}

const {
	content: { title, pubDate, updatedDate, heroImage, imageSource },
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="grid justify-center gap-4">
		<Header />
		<main>
			<article class="grid grid-cols-flow gap-4 max-w-lg">
				<div>
					{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
					{imageSource && <p class="text-xs italic">{imageSource}</p>}
				</div>
				<h1 class="text-3xl font-semibold antialiased">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<div class="grid place-items-center">
					<hr  class="border-transparent bg-white border-8" />
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
<style>
	@tailwind base;
	@layer base  {
		a {
			color: #5B8FB9 !important;
			text-decoration: underline !important;
		}
		}
</style>